<div Ngxheadroom data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<div class="height"></div>


<form class="container p-3" (submit)="savetask(task)">
    <div class="form-group mb-3">
        <!-- <div class="d-none">
            Asistencia: {{photo.asistence}}
        </div> -->
        <div class="">
            Tarea
        </div>
        <div class="row mx-1">
            <div class="col-md-6 p-0">
                <quill-editor class="bg-warning" [ngModelOptions]="{standalone:true}" [(ngModel)]="markdown"
                    placeholder="Enter Text" (onContentChanged)="onContentChanged($event)"></quill-editor>
            </div>
            <div class="col-md-6 bg-warning">
                <ng-katex-html class="ql-editor p-0" [html]="valuew"></ng-katex-html>
            </div>
        </div>
    </div>

    <div class="d-grid gap-1">
        <div class="">
            Archivo
        </div>
        <input type="file" class="d-none" (change)="capturandoFile($event)" #photoInput>
        <img [src]="photoSelected || apiUrl+'/'+ $any(photo).img"
            class="border border-warning  rounded p-1 m-auto cursorpoint img-fluid" (error)="onImgError($event)"
            style="width: 2cm;" alt="No image" (click)="photoInput.click()">
        <div *ngIf="!photoSelected && photo.img" class="bg-info text-center border rounded">
            {{photo.img}}
        </div>
        <div *ngIf="photoSelected" class="bg-light text-center border rounded">
            {{name}}
        </div>
        <ngx-extended-pdf-viewer *ngIf="photoSelected && type=='application/pdf'" [src]="photoSelected"
            [height]="'800px '" [useBrowserLocale]="false" [textLayer]="true" [showHandToolButton]="true">
        </ngx-extended-pdf-viewer>

        <ngx-extended-pdf-viewer *ngIf="!photoSelected && photo.img && photo.img.split('.').pop()=='pdf'"
            [src]="apiUrl+'/'+ photo.img" [height]="'800px '" [useBrowserLocale]="false" [textLayer]="true"
            [showHandToolButton]="false">
        </ngx-extended-pdf-viewer>
        <mat-progress-bar *ngIf="value > 0 && loading" color="accent" mode="determinate"
            [value]="value"></mat-progress-bar>
        <button class="btn btn-warning my-1" [disabled]="loading" #Filecurse>{{ loading=='false' ? 'Cargando':
            'Guardar y seguir editando'}}</button>
    </div>
</form>
<div class="container">
    <button class="btn btn-success my-1 w-100" (click)="savetaskgetout()" [disabled]="loading">{{ loading=='false' ? 'Cargando':'Guardar e ir al curso'}}</button>
    <!-- <button class="btn btn-success my-1 w-100" (click)="Filecurse.click(); savetaskgetout()" [disabled]="loading">{{ loading=='false' ? 'Cargando
        '+value+'%':'Guardar e ir al curso'}}</button> -->
    <button [ngClass]="[code?'btn btn-info mt-5':'btn btn-light mt-5']" (click)="show()">{{
        code ? 'Si su código no compila borre aqui y corrija, linea por linea': 'Si su código no compila borre aqui y
        corrija, linea por linea'}}</button>
    <textarea rows="10" [ngClass]="[code!?'text-info':'d-none text-secondary']" class="form-control"
        [(ngModel)]="markdown" [ngModelOptions]="{standalone:true}" #task></textarea>
</div>